<div class="jumbotron text-center">

    <h1>MEAN AUTHENTICATION</h1>
    <div class="lead">Welcome to mean project</div>
    <hr>
    <div>
        <a class="btn btn-primary mr-3" [routerLink]="['/register']" >Register</a>
        <a class="btn btn-primary" [routerLink]="['/login']" >Login</a>

    </div>
</div>


<div class="row">

    <div class="col-md-4">

        <h3>Node js</h3>
        <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside a web browser. </p>
    </div>

    <div class="col-md-4">
        <h3>Angular</h3>
        <p>Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS</p>
    </div>

    <div class="col-md-4">
        <h3>Express js</h3>
        <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs. It has been called the de facto standard server framework for Node.js.</p>
    </div>


</div>

